---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';

type Props = { gig: CollectionEntry<'speaking'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { gig, class: className, headingLevel = 'h2' } = Astro.props;
const { title, type, event, publishDate, location, endDate } = gig.data;
const TitleTag = headingLevel;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedPublishDate = new Date(publishDate).toLocaleDateString("en-US", dateOptions);
const formattedEndDate = endDate ? new Date(endDate).toLocaleDateString("en-US", dateOptions) : null;
---

<p class:list={['flex justify-between items-start gap-8 group', className]}>
    <div class="grow">
        <TitleTag
            class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
        >
            {event} ({location})
        </TitleTag>
        {type && <div class="mt-1 text-sm leading-normal">{formattedPublishDate}{formattedEndDate && ` - ${formattedEndDate}`} | {type}</div>}
        <div class="mt-1 text-sm leading-normal italic">{title}</div>
    </div>
</p>
